<!--header-->
<ion-header-bar>
    <h1 class="title">
      <img src="img/logo_appisode.png" alt="" class="img-responsive">
    </h1>
    
</ion-header-bar>

<ion-view view-title="pop" ng-init="initData(); check_auth();">
  <ion-content>
    <!-- Поиск --> 
            <div class="text-center bg_serch">
              <a class="icon_serch" href="#/app/search"> 
                <img src="img/search.png" alt="" class="img-responsive">
              </a>
            </div>
         <!-- Навигация --> 
          <div class="row nav">
            <div class="col">
                <div class="button-bar">
                  <!-- <a class="button" href="">Новые</a> -->
                  <a class="button {{star.new}}" ng-click="visiEffect('new');">Новые</a>
                  <a class="button {{star.pop}}" ng-click="visiEffect('pop'); initData();">Популярные</a>
                  <a class="button {{star.sub}}" ng-click="visiEffect('sub'); subs(); ">Ожидаемые</a> <!--  -->
                </div>
            </div>
          </div>
          <!-- вижен популярных -->
         <section ng-show = "visible.pop" >
          <div 
            ng-repeat="one_serial in serials | limitTo:col" 
            class="pop_1" 
            style="background-image: url({{'http://image.tmdb.org/t/p/w500'+one_serial.poster}});"
            >
          <div style="background-color: rgba(0, 0, 0, 0.7); ">
            <div class="row">
              <div class="col text-center s_titel">
                  <a href="#/app/serial/{{one_serial.id}}"><h5 class="">{{one_serial.name }}</h5></a>
                  <a href="#/app/serial/{{one_serial.id}}"><h1>{{one_serial.russian_name}}  </h1></a>
              </div>
            </div>
            <!-- чекбоксы -->
            <div class="row">
              
              <div class="col text-center">
                  <label class="toggle toggle-positive" ng-click="subscription_new_episodes(one_serial.id,'non', 'new_episodes')"> 
                   <input type="checkbox">
                    <div class="track podpiska">
                    </div>
                </label>
              </div>
              
             
              <div class="col col-50 text-center" ng-init = "toggle_one = false">
                  <label class="toggle test1" 
                  ng-click="toggle_one = !toggle_one; toggle_full_mana(one_serial.id, toggle_one)" >
                     <input type="checkbox">
                     <div class="track test1">
                       <div class="handle"></div>
                     </div>
                  </label>
                  <span class="sezon">Сезон</span>
                  <span class="seria">Серия</span>     
              </div>
                          
            
              <div class="col text-center">
                 <a href="#/app/serial/{{one_serial.id}}"> <label class="toggle toggle-positive">
                   <input type="checkbox">
                    <div class="track podpiska_sezon">
                    </div>
                </label></a>
              </div>
            </div>
            <!--end чекбоксы -->
            <!-- инфа -->
            <div class="row info">
              <div class="col text-center">
                  <h5>дата выхода сезона</h5>
                  <h4>{{one_serial.season_date}}</h4>
              </div>
            </div>
            <div class="row date">
              <div class="col text-right">
                <h5>м</h5>
                <h1>00</h1>
              </div>
              <div class="col text-center">
                <h5>д</h5>
                <h1>24</h1>
              </div>
              <div class="col text-left">
                <h5>ч</h5>
                <h1>01</h1>
              </div>
            </div>
          </div> 
          </div>
        </section> 
    <!--end вижен популярных -->
        <section ng-show="visible.new">
          <div 
            ng-repeat="one_serial in serials | limitTo:col | orderBy:'-name'" 
            class="pop_1" 
            style="background-image: url({{'http://image.tmdb.org/t/p/w500'+one_serial.poster}});"
            >
          <div style="background-color: rgba(0, 0, 0, 0.7); ">
            <!-- style="background-image: url({{'http://image.tmdb.org/t/p/w500'+one_serial.poster}});" -->
            <div class="row">
              <div class="col text-center s_titel">
                  <h5 class="">{{one_serial.name }}</h5>
                  <h1>{{one_serial.russian_name}}  </h1>
              </div>
            </div>
            <!-- чекбоксы -->
          <div class="row">
              
              <div class="col text-center">
                  <label class="toggle toggle-positive" ng-click="subscription_new_episodes(one_serial.id,'non','new_episodes')">
                   <input type="checkbox">
                    <div class="track podpiska">
                    </div>
                </label>
              </div>
              
              <div class="col col-50 text-center">
                  <label class="toggle test1" ng-click="toggle_full_mana()" >
                     <input type="checkbox">
                     <div class="track test1">
                       <div class="handle"></div>
                     </div>
                  </label>
                  <span class="sezon">Сезон</span>
                  <span class="seria">Серия</span>     
              </div>
              <div class="col text-center">
                 <a href="#/app/serial/{{one_serial.id}}"> <label class="toggle toggle-positive">
                   <input type="checkbox">
                    <div class="track podpiska_sezon">
                    </div>
                </label></a>
              </div>
            </div>
            <!--end чекбоксы -->
            <!-- инфа -->
            <div class="row info">
              <div class="col text-center">
                  <h5>дата выхода сезона</h5>
                  <h4>{{one_serial.season_date}}</h4>
              </div>
            </div>
           </div> 
          </div>
          <a href="" ng-click="col = col + 5" class="load_more_a">
          <div class="col text-center load_more">
              <p>Показать больше</p>
          </div>
          </a>
        </section>
        <section ng-show="visible.sub" class="sub_class">
           <div class="" ng-show="visible.subscription_form1">
              <h4 class="text-center ">Введите телефон для авторизации</h2>
              <input type="text" class="col" ng-model="tel">
              <button class=" col" ng-click="register_form2(tel);">Отправить</button> 
           </div>
           <div class="" ng-show="visible.subscription_form2">
              <h4 class="text-center">Введите код</h4>
              <input type="text" class="col" ng-model="auth">
              <button class="col" ng-click="register(auth)">Подтвердить</button> 
           </div>
           <div ng-show="visible.subscription_">
              <h4 class="col">Ваши подписки:</h4>
              <div class="row" ng-repeat="sub in subscription">
                  <h5 class="col col-75">{{$index+1}}. {{sub.name}}</h5>
                  <a ng-click="un_subscription_new_episodes(sub.id);" class="col col-25">Отписаться</a>
              </div>
           </div>
        </section>
  </ion-content>
</ion-view>
   