<ion-modal-view class="serial">
 <ion-header-bar>
	<h1 class="title">
		<img src="img/logo_appisode.png" alt="" class="img-responsive">
	</h1>
	<div class="buttons">
		<a class="button button-clear" href="#/app">Close</a>
	</div> 
  </ion-header-bar>
  <ion-content style="background-image: url({{img_bg}});" class="bgc_serial">
	<div style="background-color: rgba(0, 0, 0, 0.3); padding-top: 20px;">
		  
			<h5 class="text-center text_grey text_uppercase">{{serial.name}}</h5>
			<h2 class="text-center text_uppercase">{{serial.russian_name}}</h2>
			<h5 class="text-center text_red text_uppercase">Сезон </h5>
			<div class="row wrapp_like">
				<div class="col col-60 text-right">
					<label class="toggle toggle-positive" ng-click="subscription_new_episodes(serial.id,red_round_xz_index,'episode')">
							<input type="checkbox">
							<div class="track podpiska">
							</div>
					</label>
				</div>
				<div class="col text-center">
					<label class="toggle toggle-positive" ng-click="subscription_new_episodes(serial.id,'non', 'season')">
						<input type="checkbox">
						<div class="track podpiska_sezon"></div>
					</label>
					<h6 class="text_uppercase">Сезон <br> полностью</h6>
				</div>
			</div>
			<h6 class="text-left text_uppercase h6_">Выберите <br> эпизод</h6>
		 	<div class="red_line"></div>

	<div class="wrapp_shadow">		 	
	   	<slick init-onload=true data="serial.episodes" infinite="true" slides-to-show="5" slides-to-scroll="5" dots="false" >
		   	<div class="text-center" ng-repeat="s in serial.episodes">
		   		<h2 class="{{aired_seria(s.aired)}}" ng-click="activ_red_round($index,serial.episodes)">{{$index}}</h2>
		   		<div class="{{ red_round_xz[$index] }}"></div>
		   	</div>
		   	
	   </slick>	

  		<!-- <div class="red_round"></div> -->

		<div class="row info">
			<div class="col text-center">
				<h4>Дата выхода следующей серии</h4>
				<h4>{{serial.next_episode.air_date}}</h4>
			</div>
		</div>
		<div class="row date">
	        <div class="col text-right">
	            <h5>м</h5>
	            <h1>00</h1>
	        </div>
	        <div class="col text-center">
	            <h5>д</h5>
	            <h1>24</h1>
	        </div>
	        <div class="col text-left">
	            <h5>ч</h5>
	            <h1>01</h1>
	        </div>
	    </div>
	</div>
	</div>


  </ion-content>
</ion-modal-view>
